:root{
    --royal-lions-den-headbar-color: #000080;
    --royal-lions-den-logo-text-color: #ffd700;
    --royal-lions-den-nav-text-color:#fffafa;
    --royal-lions-den-main-text-color: #d2691e;
    --royal-lions-den-main-text-shadow: #556b2f;
    --royal-lions-den-menu-items-bg-color: #fff8dc;
    --royal-lions-den-menu-items-bg-border-color: #8b4513;
    --royal-lions-den-menu-items-shadow: #000000;
}
#royal_lions_den_main_webpage{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/9299d589101433.5dea3be568efe.jpeg");
}
#royal_lions_den_website_navigation_bar{
    padding-left: 10px;
    padding-top: 17px;
    margin-bottom: 15px;
    background-color: var(--royal-lions-den-headbar-color);
}
#royal_lions_den_website_phone_and_tablet_container_navigation_menu{
    display: none;
}
#royal_lions_den_website_computer_navigation_menu{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.royal_lions_den_website_navigation_bar_links{
    font-size: 30px;
    text-decoration: none;
    color: var(--royal-lions-den-logo-text-color);
}
.royal_lions_den_website_navigation_bar_links:hover{
    color: var(--royal-lions-den-nav-text-color);
}
#royal_lions_den_logo_banner{
    position: relative;
    margin-left: 450px;
}
#royal_lions_den_logo_banner_text1{
    position: absolute;
    left: 80px;
    top: 70px;
    color: var(--royal-lions-den-logo-text-color);
    font-family: "Pacifico", fantasy;
    font-size: 25px;
}
#royal_lions_den_logo_banner_text2{
    position: absolute;
    left: 125px;
    top: 105px;
    color: var(--royal-lions-den-logo-text-color);
    font-family: "Pacifico", fantasy;
    font-size: 25px;
}
#royal_lions_den_logo_banner_lion{
    position: absolute;
    left: 107.5px;
    top: 140px;
}
#royal_lions_den_description, #royal_lions_den_menu_description{
    color: var(--royal-lions-den-main-text-color);
    text-shadow: 2px 2px var(--royal-lions-den-main-text-shadow);
    font-family: "BBH Sans Bogle", fantasy;
    font-size: 30px;
}
.royal_lions_den_operation_hours{
    margin-left: 50px;
}
#royal_lions_den_menu_description h1{
    font-size: 70px;
}
.royal_lions_den_menu_items{
    padding: 5px;
    background-color: var(--royal-lions-den-menu-items-bg-color);
    border: 10px double var(--royal-lions-den-menu-items-bg-border-color);
    color: var(--royal-lions-den-headbar-color);
    text-shadow: 1px 1px var(--royal-lions-den-menu-items-shadow);
    font-family: "Pacifico", fantasy;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}
.royal_lions_den_menu_items_links, .royal_lions_den_menu_items_links:visited{
    color: var(--royal-lions-den-headbar-color);
    text-decoration: none;
}
.royal_lions_den_menu_items_links:hover{
    color: var(--royal-lions-den-logo-text-color);
}
#royal_lions_den_footbar{
    background-color: var(--royal-lions-den-headbar-color);
    color: var(--royal-lions-den-nav-text-color);
    font-family: "Pacifico", fantasy;
    padding: 5px;
}
#royal_lions_den_location{
    color: var(--royal-lions-den-main-text-color);
    text-shadow: 2px 2px var(--royal-lions-den-main-text-shadow);
    font-family: "BBH Sans Bogle", fantasy;
    font-size: 30px;
}
#royal_lions_den_map_location{
    margin-top: 30px;
    margin-left: 375px;
}
#copyright_link, #storage_link{
    color: var(--royal-lions-den-nav-text-color);
}
#copyright_link:hover, #storage_link:hover{
    color: var(--royal-lions-den-logo-text-color);
}
@media screen and (max-width: 800px){
    #royal_lions_den_website_computer_navigation_menu{
        display: none;
    }
    #royal_lions_den_website_phone_and_tablet_container_navigation_menu{
        display: inline;
    }
    #royal_lions_den_website_phone_and_tablet_dropdown_navigation_menu{
        display: none;
        position: absolute;
        padding: 10px;
        background-color: var(--royal-lions-den-headbar-color);
        min-width: 100px;
    }
    #royal_lions_den_website_phone_and_tablet_dropdown_navigation_menu .royal_lions_den_website_navigation_bar_links{
        display: block;
        text-decoration: none;
    }
    #royal_lions_den_website_phone_and_tablet_navigation_menu_dropdown_button{
        color: var(--royal-lions-den-nav-text-color);
        background-color: var(--royal-lions-den-headbar-color);
        font-size: 30px;
        box-shadow: none;
        margin-bottom: 10px;
    }
    #royal_lions_den_website_phone_and_tablet_navigation_menu_dropdown_button:hover{
        color: var(--royal-lions-den-logo-text-color);
    }
    #royal_lions_den_menu{
        width: 95%;
        margin-left: 22.5px;
    }
    .royal_lions_den_menu_items{
        display: block;
    }
    .royal_lions_den_menu_items_images{
        margin-left: 140px;
        width: 400px;
        height: 400px;
    }
    #royal_lions_den_logo_banner{
        margin-left: 235px;
    }
    #royal_lions_den_address, #royal_lions_den_address_description{
        display: none;
    }
    #royal_lions_den_map_location{
        margin-left: 120px;
    }
    #royal_lions_den_footbar{
        margin-left: 2.5px;
    }
}
@media screen and (max-width: 500px){
    #royal_lions_den_website_navigation_bar{
        width: 600px;
    }
    #royal_lions_den_logo_banner{
        margin-left: 150px;
    }
    #royal_lions_den_logo_banner_text1{
        left: 75px;
    }
    #royal_lions_den_description, #royal_lions_den_menu_description, #royal_lions_den_location{
        margin-left: 50px;
        font-size: 40px;
    }
    .royal_lions_den_menu_items{
        font-size: 30px;
    }
    .royal_lions_den_menu_items_images{
        width: 200px;
        height: 200px;
    }
    #royal_lions_den_footbar{
        width: 600px;
        font-size: 25px;
    }
}